#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap'); */


navbar {
    color:#005f56;
    font-family: avenir, sans-serif; font-size: 25px;
}


body {
    background-color: #d1c2d9;
    font-family: Avenir, sans serif; font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

p,
h1,
h2,
h3,
ul,
li {
    color: #332970;
    border: 1px #b5a3bc;
}

p {
    justify-content: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
}

hr {
    border: none;           
    height: 1px;             
    background-color: #332970; 
               
    margin: 20px auto;      
}


h1 {
    text-align: center;
    font-family: 'Montserrate Alternates', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans serif; font-size: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
}

h2 {
    /* color: #8b0000; */
    color: #005f56;
    font-family: Helvetica, sans serif; font-size: 30px;
    text-decoration: wavy;
    
}

blockquote {
    padding: 1em 2em 1em 2em;
    background-color: #CCD68F;
    color: #332970;
    font-size: 30px;
    font-family: avenir, sans-serif;
    border-width: 1px;
    border-color: #332970;
    border-top-left-radius: 1em;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 5em;

  }

  .styled-link {
    text-decoration: underline;
    color: #332970;
  }
  

  